.subsection {margin-left: 1.5em;}
.ss-name {float: left; padding-right: .5em;}
.tc-subtitle {display: none;}
.doc-icon svg {width: 1em; height: 1em; vertical-align: middle;}

nav.breadcrumbs {
  opacity: 50%; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 0;
  div.sep {padding: 0 .5em; min-width: 0;}
  div.crumb {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 0;
  }
}

@media print {
  p:has(>div.chapter) {
    break-before: page;
    &:first-of-type {break-before: auto;}
  }
  h2, h3 {page-break-after: avoid;}
  h2.tx-title {margin-bottom: .5in;}
  h2 {margin-top: .5in;}
  .tc-tags-wrapper {display: none;}
  .tc-tiddler-body {text-align: justify;}
  a, a.tc-tiddlylink, a.tc-tiddlylink-external, a.tc-tiddlylink-external:visited {
    text-decoration: none; 
    color: <<colour foreground>>;
  }
  a.section-link {font-weight: normal;}
  nav.breadcrumbs {display: none;}
}
@page {margin: .75in;}
@page:first {margin-top: 1.25in;}
.tc-table-of-contents ol ol ol {
	padding-left: 2em;
}
